{% extends 'base.html' %}
{% block body %}
<div id='signature'>
    {{ signature|safe }}<!-- Wrap this in a div with a tag of "signature" -->
</div>
<span><button onclick="copy()" id="clipboard">Copy Signature To Clipboard</button></span>

<script>
    function copy() {
        /* Save value of myText to input variable */
        /* Change the tag name to "signature" */
        var input = document.getElementsById("signature")[0].innerHTML;
       
         /* Copy the text inside the text field */
        navigator.clipboard.writeText(input);
         
        alert("Signature has been copied to clipboard. Paste it into your email signature in Outlook or go to Settings > Mail > Signature on your iPhone or iPad.");
    }
</script>
{% endblock %}